In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/rohan/DEV/Stage1-Phase2-Data-ML/02_Pandas/data/stack-overflow-developer-survey-2025/survey_results_public.csv')

/tmp/ipykernel_4996/378706213.py:1: DtypeWarning: Columns (56,74,92,97,98,105,109,110,132,162,165) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/rohan/DEV/Stage1-Phase2-Data-ML/02_Pandas/data/stack-overflow-developer-survey-2025/survey_results_public.csv')

In [5]:
df

    Year  MSHA ID                       Mine_Name  Production  Labor_Hours
0   2013   103381            Tacoa Highwall Miner       56004        22392
1   2013   103404                Reid School Mine       28807        28447
2   2013   100759  North River #1 Underground Min     1440115       474784
3   2013   103246                      Bear Creek       87587        29193
4   2013   103451                     Knight Mine      147499        46393
..   ...      ...                             ...         ...          ...
45  2013  1519322                         Ghm #25       25054         3108
46  2013   103321                  Poplar Springs      189370        76366
47  2013   103358                       Old Union      284563       161805
48  2013  5000030                        Usibelli     1631584       286079
49  2013   201195                    Kayenta Mine     7602722      1015333

[50 rows x 5 columns]

In [ ]:
# df.median(numeric_only=True)

ResponseId             24596.0
WorkExp                   10.0
YearsCode                 14.0
TechEndorse_1              9.0
TechEndorse_2              4.0
                        ...
SO_Actions_7               5.0
SO_Actions_10              8.0
SO_Actions_15             10.0
ConvertedCompYearly    75320.0
JobSat                     8.0
Length: 53, dtype: float64

In [4]:
# find no of rows and columns
df.shape

(49191, 172)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49191 entries, 0 to 49190
Columns: 172 entries, ResponseId to JobSat
dtypes: float64(52), int64(1), object(119)
memory usage: 64.6+ MB

In [ ]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows',200)

df

    Year  MSHA ID                       Mine_Name  Production  Labor_Hours
0   2013   103381            Tacoa Highwall Miner       56004        22392
1   2013   103404                Reid School Mine       28807        28447
2   2013   100759  North River #1 Underground Min     1440115       474784
3   2013   103246                      Bear Creek       87587        29193
4   2013   103451                     Knight Mine      147499        46393
5   2013   103433              Crane Central Mine       69339        47195
6   2013   100329                    Concord Mine           0       144002
7   2013   100851                  Oak Grove Mine     2269014      1001809
8   2013   102901                Shoal Creek Mine           0        12396
9   2013   102901                Shoal Creek Mine     1453024      1237415
10  2013   103180             Sloan Mountain Mine      327780       196963
11  2013   103182                        Fishtrap      175058        87314
12  2013   103285                     Narley Mine      154861        90584
13  2013   103332                   Powhatan Mine      140521        61394
14  2013   103375                    Johnson Mine         580         1900
15  2013   103419               Maxine-Pratt Mine      125824       107469
16  2013   103432                   Skelton Creek        8252          220
17  2013   103437         Black Warrior Mine No 1      145924        70926
18  2013   102976   Piney Woods Preparation Plant           0        14828
19  2013   102976   Piney Woods Preparation Plant           0        23193
20  2013   103380                          Calera           0        12621
21  2013   103380                          Calera           0         1402
22  2013   103422                 Clark No 1 Mine      122727       140250
23  2013   103467             Helena Surface Mine       59664        30539
24  2013   101247                       No 4 Mine     2622528      1551141
25  2013   101401                       No 7 Mine     5405412      2464719
26  2013   103172  Searles Mine No. 2, 3, 4, 5, 6      258078       119542
27  2013   103179             Fleetwood Mine No 1       75937        63745
28  2013   103303                    Shannon Mine      317491       164388
29  2013   103323                   Deerlick Mine      133452        46381
30  2013   103364           Brc Alabama No. 7 Llc           0        14324
31  2013   103436                Swann's Crossing      137511        77190
32  2013   100347                    Choctaw Mine      537429       215295
33  2013   101362                 Manchester Mine      219457       116914
34  2013   102996                  Jap Creek Mine      375715       164093
35  2013   103155              Corinth Prep Plant           0        27996
36  2013   103155              Corinth Prep Plant           0        51994
37  2013   103195     Mccollum/Sparks Branch Mine       71910        17411
38  2013   103342             Reese's Branch Mine      263888       115123
39  2013   103370             Cresent Valley Mine        2860          621
40  2013   103372                 Cane Creek Mine       66258        32401
41  2013   103376                      Town Creek      299167       176499
42  2013   103389                Carbon Hill Mine       76241        84966
43  2013   103410                Coal Valley Mine      407841       158591
44  2013   103423                Dutton Hill Mine       37275         9162
45  2013  1519322                         Ghm #25       25054         3108
46  2013   103321                  Poplar Springs      189370        76366
47  2013   103358                       Old Union      284563       161805
48  2013  5000030                        Usibelli     1631584       286079
49  2013   201195                    Kayenta Mine     7602722      1015333

In [7]:
schema_df = pd.read_csv('/home/rohan/DEV/Stage1-Phase2-Data-ML/02_Pandas/data/stack-overflow-developer-survey-2025/survey_results_schema.csv')

In [8]:
schema_df

,qid,qname,question,type,sub,sq_id
0,QID18,TechEndorse_1,What attracts you to a technology or causes yo...,RO,AI integration or AI Agent capabilities,1.0
1,QID18,TechEndorse_2,What attracts you to a technology or causes yo...,RO,Easy-to-use API,2.0
2,QID18,TechEndorse_3,What attracts you to a technology or causes yo...,RO,Robust and complete API,3.0
3,QID18,TechEndorse_4,What attracts you to a technology or causes yo...,RO,Customizable and manageable codebase,4.0
4,QID18,TechEndorse_5,What attracts you to a technology or causes yo...,RO,Reputation for quality,5.0
...,...,...,...,...,...,...
134,QID103,AIAgentObsWrite,Was the tool or tools for AI agent observabili...,TE,NaN,NaN
135,QID92,AIAgentExternal,You indicated you use or develop AI agents as ...,MC,NaN,NaN
136,QID104,AIAgentExtWrite,"Was the out-of-the-box agents, copilots or ass...",TE,NaN,NaN
137,QID100,AIHuman,"In the future, if AI can do most coding tasks,...",MC,NaN,NaN
138,QID93,AIOpen,"Looking ahead 3–5 years, what skills do you be...",TE,NaN,NaN

In [9]:
df.describe()

,ResponseId,WorkExp,YearsCode,TechEndorse_1,TechEndorse_2,...,SO_Actions_7,SO_Actions_10,SO_Actions_15,ConvertedCompYearly,JobSat
count,49191.000000,42893.000000,43042.000000,35975.000000,35975.000000,...,26260.000000,26260.000000,26260.000000,2.394700e+04,26670.000000
mean,24596.000000,13.367403,16.570861,7.867352,4.104211,...,4.984653,7.099505,10.079284,1.017615e+05,7.201950
std,14200.362883,10.800117,11.787610,2.397432,2.275821,...,2.490095,2.469394,1.940928,4.617569e+05,1.997245
min,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000e+00,0.000000
25%,12298.500000,5.000000,8.000000,7.000000,2.000000,...,3.000000,6.000000,10.000000,3.817100e+04,6.000000
50%,24596.000000,10.000000,14.000000,9.000000,4.000000,...,5.000000,8.000000,10.000000,7.532000e+04,8.000000
75%,36893.500000,20.000000,24.000000,9.000000,6.000000,...,7.000000,9.000000,10.000000,1.205960e+05,8.000000
max,49191.000000,100.000000,100.000000,14.000000,14.000000,...,15.000000,15.000000,15.000000,5.000000e+07,10.000000

In [1]:
import pandas as pd
import openpyxl

df = pd.read_excel('/home/rohan/DEV/Stage1-Phase2-Data-ML/02_Pandas/data/coalpublic2013.xlsx')

print(df)

    Year  MSHA ID                       Mine_Name  Production  Labor_Hours
0   2013   103381            Tacoa Highwall Miner       56004        22392
1   2013   103404                Reid School Mine       28807        28447
2   2013   100759  North River #1 Underground Min     1440115       474784
3   2013   103246                      Bear Creek       87587        29193
4   2013   103451                     Knight Mine      147499        46393
5   2013   103433              Crane Central Mine       69339        47195
6   2013   100329                    Concord Mine           0       144002
7   2013   100851                  Oak Grove Mine     2269014      1001809
8   2013   102901                Shoal Creek Mine           0        12396
9   2013   102901                Shoal Creek Mine     1453024      1237415
10  2013   103180             Sloan Mountain Mine      327780       196963
11  2013   103182                        Fishtrap      175058        87314
12  2013   103285                     Narley Mine      154861        90584
13  2013   103332                   Powhatan Mine      140521        61394
14  2013   103375                    Johnson Mine         580         1900
15  2013   103419               Maxine-Pratt Mine      125824       107469
16  2013   103432                   Skelton Creek        8252          220
17  2013   103437         Black Warrior Mine No 1      145924        70926
18  2013   102976   Piney Woods Preparation Plant           0        14828
19  2013   102976   Piney Woods Preparation Plant           0        23193
20  2013   103380                          Calera           0        12621
21  2013   103380                          Calera           0         1402
22  2013   103422                 Clark No 1 Mine      122727       140250
23  2013   103467             Helena Surface Mine       59664        30539
24  2013   101247                       No 4 Mine     2622528      1551141
25  2013   101401                       No 7 Mine     5405412      2464719
26  2013   103172  Searles Mine No. 2, 3, 4, 5, 6      258078       119542
27  2013   103179             Fleetwood Mine No 1       75937        63745
28  2013   103303                    Shannon Mine      317491       164388
29  2013   103323                   Deerlick Mine      133452        46381
30  2013   103364           Brc Alabama No. 7 Llc           0        14324
31  2013   103436                Swann's Crossing      137511        77190
32  2013   100347                    Choctaw Mine      537429       215295
33  2013   101362                 Manchester Mine      219457       116914
34  2013   102996                  Jap Creek Mine      375715       164093
35  2013   103155              Corinth Prep Plant           0        27996
36  2013   103155              Corinth Prep Plant           0        51994
37  2013   103195     Mccollum/Sparks Branch Mine       71910        17411
38  2013   103342             Reese's Branch Mine      263888       115123
39  2013   103370             Cresent Valley Mine        2860          621
40  2013   103372                 Cane Creek Mine       66258        32401
41  2013   103376                      Town Creek      299167       176499
42  2013   103389                Carbon Hill Mine       76241        84966
43  2013   103410                Coal Valley Mine      407841       158591
44  2013   103423                Dutton Hill Mine       37275         9162
45  2013  1519322                         Ghm #25       25054         3108
46  2013   103321                  Poplar Springs      189370        76366
47  2013   103358                       Old Union      284563       161805
48  2013  5000030                        Usibelli     1631584       286079
49  2013   201195                    Kayenta Mine     7602722      1015333

In [ ]:
print(df.head())

In [ ]:
print(df.describe())

In [ ]:
## DATA FRAMES ADN SERIES OBJECTS

In [ ]:
people = {
    'first' : ["name1", "name2", "name3"],
    'last'  : ['last1', "last2", 'last3'],
    'email' : ['name1last1@gmail.com', 'name2last2@gmail.com', 'name3last3@gmail.com']
}

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

In [ ]:
df['email']  #series


# both works same but using brackets is much good

df.email

In [ ]:
type(df['email'])   # series= rows of single column
  # dataframe = (rows and columns) container of multiple of series objects  it is 2d

In [ ]:
df.count()

In [ ]:
df[['last', 'email']]

In [ ]:
df.columns

In [ ]:
#iloc       # allows us to access rows by integer location

df.iloc[0]

In [ ]:
df.iloc[2]

In [ ]:
##  df.iloc[[rows],column]

df.iloc[[0,1], 2]

In [ ]:
## loc   access rows by labels 
df.loc[[0,1], 'email']

df.loc[[0,1],['email', 'last']]